[submodule "the-sports-ticket"]
	path = the-sports-ticket
	url = https://github.com/Aim-bro/the-sports-ticket.git

[submodule "code_project2"]
	path = code_project2
	url = https://github.com/Aim-bro/code_project2.git
